@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-sans;
    font-optical-sizing: auto;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: grayscale;
    font-size: 1rem;
}

a {
    @apply transition-all duration-300 ease-in-out;
}

footer .tns-outer {
    @apply -mt-[31px];
}

@layer utilities {
    .clamp-lg {
        font-size: clamp(5.21875rem, 3.7454rem + 6.5481vw, 11.603125rem);
    }

    .clamp-md {
        font-size: clamp(1.75rem, 3vw, 2.75rem);
    }

    .clamp-sm {
        font-size: clamp(1.5rem, 0.98rem + 0.2564vw, 1.25rem);
    }

    .clamp-xs {
        font-size: clamp(0.95rem, 1rem + 0.513vw, 1.25rem);
    }

    .line-clamp-1 {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .line-clamp-2 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .line-clamp-3 {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .line-clamp-none {
        -webkit-line-clamp: unset;
        line-clamp: unset;
    }
}

section:nth-of-type(even) {
    @apply bg-light;
}

section:first-of-type,
section:last-of-type {
    @apply bg-white;
}

h2 {
    @apply uppercase text-dark font-black clamp-lg leading-[1.2];
}

/* h2 span {
    @apply text-accent2;
} */

/* Alt colors */
h2 span {
    @apply text-accent1;
}

h2 span.alt {
    @apply text-accent2 !important;
}

h3 {
    @apply mb-12 mt-0 leading-9 clamp-md lowercase font-light;
}

h3.alt {
    @apply text-base font-bold uppercase p-0 m-0;
}

h3.shop,
h3.eat,
h3.go {
    @apply text-dark uppercase font-black clamp-md leading-none;
}

h3.eat span.alt-eat {
    @apply text-variable2 !important;
}

h3.shop span.alt-shop {
    @apply text-variable4 !important;
}

h3.go span.alt-go {
    @apply text-accent2 !important;
}

/* h3 i {
    @apply text-accent1 transform rotate-45 mt-1;
} */

/* Alt colors */
h3 i {
    @apply text-accent2 transform rotate-45 mt-1;
}

h4,
.h2-alt {
    @apply mt-8 mb-3 clamp-md uppercase font-bold;
}

p {
    @apply clamp-sm font-normal mb-4;
    line-height: 1.5; 
}

/* .btn-1-solid {
    @apply bg-accent1 hover:bg-white hover:bg-opacity-30 focus:bg-white focus:bg-opacity-30 active:bg-white active:bg-opacity-30 border-2 border-accent1 min-w-[30%] rounded-full leading-[3rem] uppercase px-10 cursor-pointer inline-block text-white hover:text-accent1 focus:text-accent1 active:text-accent1 font-bold text-center no-underline whitespace-nowrap overflow-hidden;
    max-width: 100%;
    text-overflow: ellipsis;
}

.btn-1-outline {
    @apply bg-white bg-opacity-30 hover:bg-accent1 focus:bg-accent1 active:bg-accent1 border-2 border-accent1 min-w-[30%] rounded-full leading-[3rem] uppercase px-10 cursor-pointer inline-block text-accent1 hover:text-white focus:text-white active:text-white font-bold text-center no-underline whitespace-nowrap overflow-hidden;
    max-width: 100%;
    text-overflow: ellipsis;
}

.btn-2-solid {
    @apply bg-accent2 hover:bg-white hover:bg-opacity-30 focus:bg-white focus:bg-opacity-30 active:bg-white active:bg-opacity-30 border-2 border-accent2 min-w-[30%] rounded-full leading-[3rem] uppercase px-10 cursor-pointer inline-block text-white hover:text-accent2 focus:text-accent2 active:text-accent2 font-bold text-center no-underline whitespace-nowrap overflow-hidden;
    max-width: 100%;
    text-overflow: ellipsis;
}

.btn-2-outline {
    @apply bg-white bg-opacity-30 hover:bg-accent2 focus:bg-accent2 active:bg-accent2 border-2 border-accent2 min-w-[30%] rounded-full leading-[3rem] uppercase px-10 cursor-pointer inline-block text-accent2 hover:text-white focus:text-white active:text-white font-bold text-center no-underline whitespace-nowrap overflow-hidden;
    max-width: 100%;
    text-overflow: ellipsis;
} */

/* Alt colors */
.btn-1-solid {
    @apply bg-accent2 hover:bg-white hover:bg-opacity-30 focus:bg-white focus:bg-opacity-30 active:bg-white active:bg-opacity-30 border-2 border-accent2 min-w-[30%] rounded-full leading-[3rem] uppercase px-10 cursor-pointer inline-block text-white hover:text-accent2 focus:text-accent2 active:text-accent2 font-bold text-center no-underline whitespace-nowrap overflow-hidden shadow-lg;
    max-width: 100%;
    text-overflow: ellipsis;
}

.btn-1-outline {
    @apply bg-white bg-opacity-30 hover:bg-accent2 focus:bg-accent2 active:bg-accent2 border-2 border-accent2 min-w-[30%] rounded-full leading-[3rem] uppercase px-10 cursor-pointer inline-block text-accent2 hover:text-white focus:text-white active:text-white font-bold text-center no-underline whitespace-nowrap overflow-hidden shadow-lg;
    max-width: 100%;
    text-overflow: ellipsis;
}

.btn-2-solid {
    @apply bg-accent1 hover:bg-white hover:bg-opacity-30 focus:bg-white focus:bg-opacity-30 active:bg-white active:bg-opacity-30 border-2 border-accent1 min-w-[30%] shadow-lg hover:shadow-none transition rounded-full leading-[3rem] uppercase px-10 cursor-pointer inline-block text-white hover:text-accent1 focus:text-accent1 active:text-accent1 font-bold text-center no-underline whitespace-nowrap overflow-hidden shadow-lg;
    max-width: 100%;
    text-overflow: ellipsis;
}

.btn-2-outline {
    @apply bg-white bg-opacity-30 hover:bg-accent1 focus:bg-accent1 active:bg-accent1 border-2 border-accent1 min-w-[30%] rounded-full leading-[3rem] uppercase px-10 cursor-pointer inline-block text-accent1 hover:text-white focus:text-white active:text-white font-bold text-center no-underline whitespace-nowrap overflow-hidden shadow-lg;
    max-width: 100%;
    text-overflow: ellipsis;
}

.btn-white-solid {
    @apply bg-white border-2 border-white min-w-[30%] rounded-full leading-[3rem] uppercase px-10 cursor-pointer text-dark no-underline font-bold text-center whitespace-nowrap overflow-hidden transform duration-500 ease-in-out hover:scale-95 shadow-lg;
}

.btn-deal-solid {
    @apply bg-variable4-d hover:bg-white hover:bg-opacity-30 focus:bg-white focus:bg-opacity-30 active:bg-white active:bg-opacity-30 border-2 border-variable4-d w-1/2 md:w-1/3 shadow-lg hover:shadow-none transition rounded-full leading-[3rem] uppercase px-5 py-0 md:my-0 cursor-pointer inline-block text-white hover:text-variable4-d focus:text-variable4-d active:text-variable4-d font-semibold text-center no-underline whitespace-nowrap overflow-hidden text-xs;
}

.btn-event-solid {
    @apply bg-accent2 hover:bg-white hover:bg-opacity-30 focus:bg-white focus:bg-opacity-30 active:bg-white active:bg-opacity-30 border-2 border-accent2 w-1/2 md:w-1/3 shadow-lg hover:shadow-none transition rounded-full leading-[3rem] uppercase px-5 cursor-pointer inline-block text-white hover:text-accent2 focus:text-accent2 active:text-accent2 font-semibold text-center no-underline whitespace-nowrap overflow-hidden text-xs;
}

.btn-shop-solid {
    @apply bg-variable4 hover:bg-white hover:bg-opacity-30 focus:bg-white focus:bg-opacity-30 active:bg-white active:bg-opacity-30 border-2 border-variable4 min-w-[30%] rounded-full leading-[3rem] uppercase px-10 cursor-pointer inline-block text-white hover:text-variable4 focus:text-variable4 active:text-variable4 font-bold text-center no-underline whitespace-nowrap overflow-hidden shadow-lg;
    max-width: 100%;
    text-overflow: ellipsis;
}

.btn-shop-outline {
    @apply bg-white bg-opacity-30 hover:bg-variable4 focus:bg-variable4 active:bg-variable4 border-2 border-variable4 min-w-[30%] rounded-full leading-[3rem] uppercase px-10 cursor-pointer inline-block text-variable4 hover:text-white focus:text-white active:text-white font-bold text-center no-underline whitespace-nowrap overflow-hidden shadow-lg;
    max-width: 100%;
    text-overflow: ellipsis;
}

.btn-eat-solid {
    @apply bg-variable2 hover:bg-white hover:bg-opacity-30 focus:bg-white focus:bg-opacity-30 active:bg-white active:bg-opacity-30 border-2 border-variable2 min-w-[30%] shadow-lg hover:shadow-none transition rounded-full leading-[3rem] uppercase px-10 cursor-pointer inline-block text-white hover:text-variable2 focus:text-variable2 active:text-variable2 font-bold text-center no-underline whitespace-nowrap overflow-hidden;
    max-width: 100%;
    text-overflow: ellipsis;
}

.btn-eat-outline {
    @apply bg-white bg-opacity-30 hover:bg-variable2 focus:bg-variable2 active:bg-variable2 border-2 border-variable2 min-w-[30%] rounded-full leading-[3rem] uppercase px-10 cursor-pointer inline-block text-variable2 hover:text-white focus:text-white active:text-white font-bold text-center no-underline whitespace-nowrap overflow-hidden shadow-lg;
    max-width: 100%;
    text-overflow: ellipsis;
}

.btn-go-solid {
    @apply bg-accent2 hover:bg-white hover:bg-opacity-30 focus:bg-white focus:bg-opacity-30 active:bg-white active:bg-opacity-30 border-2 border-accent2 min-w-[30%] shadow-lg hover:shadow-none transition rounded-full leading-[3rem] uppercase px-10 cursor-pointer inline-block text-white hover:text-accent2 focus:text-accent2 active:text-accent2 font-bold text-center no-underline whitespace-nowrap overflow-hidden;
    max-width: 100%;
    text-overflow: ellipsis;
}

.btn-go-outline {
    @apply bg-white bg-opacity-30 hover:bg-accent2 focus:bg-accent2 active:bg-accent2 border-2 border-accent2 min-w-[30%] rounded-full leading-[3rem] uppercase px-10 cursor-pointer inline-block text-accent2 hover:text-white focus:text-white active:text-white font-bold text-center no-underline whitespace-nowrap overflow-hidden shadow-lg;
    max-width: 100%;
    text-overflow: ellipsis;
}

.close {
    @apply cursor-pointer block rounded-full relative w-12 h-11 bg-white before:transform before:-rotate-45 before:absolute before:content-[''] before:w-[55%] before:h-[2px] before:bg-accent1 before:top-[48%] before:left-[22%] before:transition-all before:duration-300 before:ease-out hover:before:rotate-180 active:before:rotate-180 focus:before:rotate-180 after:transform after:rotate-45 after:absolute after:content-[''] after:w-[55%] after:h-[2px] after:bg-accent1 after:top-[48%] after:left-[22%] after:transition-all after:duration-300 after:ease-out hover:after:rotate-180 active:after:rotate-180 focus:after:rotate-180;
    text-indent: -9999px;
}

section {
    @apply relative w-screen overflow-x-hidden;
}

.accordion {
    @apply my-2;
}

#TenantMore #navButtons button {
    @apply w-11 h-11 rounded-full -translate-y-1/2 bg-white opacity-75 hover:opacity-100 text-dark absolute transition-all duration-300 ease-in-out shadow-lg;
}

#ManhattanProject button.mp-prev,
#ManhattanProject button.mp-next,
button.de-prev,
button.de-next {
    @apply w-12 h-12 mix-blend-overlay hover:mix-blend-normal active:mix-blend-normal focus:mix-blend-normal target:mix-blend-normal absolute -translate-y-1/2 transition-all duration-300 ease-in-out shadow-lg;
}

#BrandBrouhaha #navButtons button {
    @apply w-11 h-11 rounded-full bg-white opacity-75 hover:opacity-100 text-dark transition-all duration-300 ease-in-out shadow-lg;
}

#ManhattanProject .tns-nav {
    @apply w-full h-14 hidden md:flex md:flex-row justify-center content-center absolute bottom-20 md:bottom-28 z-30 gap-8;
}

#ManhattanProject .tns-nav button {
    @apply w-4 h-4 rounded-full bg-white mix-blend-overlay self-center opacity-50 hover:opacity-75 active:opacity-75 focus:opacity-75 target:opacity-75 transform transition-all duration-300 ease-in-out relative before:absolute before:border before:border-solid before:border-white before:h-4 before:w-4 before:top-0 before:opacity-0 before:rounded-full before:transform before:-translate-x-1/2 before:-translate-y-1/2 before:transition-all before:duration-300 before:ease-in-out;
}

#ManhattanProject .tns-nav button.tns-nav-active {
    @apply opacity-100 mix-blend-normal before:opacity-100 before:top-1/2 before:w-8 before:h-8;
}

footer {
    margin-top: -1px !important;
}

/* #slider canvas {
    @apply w-[150%] h-[150%] absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
    z-index: 1;
  } */

#Details #my-mapplic-map .mapplic-layer-switcher > button.mapplic-active {
display: none;
}

#Section1-Content {
    background: linear-gradient(to bottom, hsl(200, 80%, 96%) 0%, #f8f9fa 100%);
}

#Section2-Content {
    background: linear-gradient(to bottom,  hsl(4, 61%, 94%) 0%,#f8f9fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#Section3-Content {
    background: linear-gradient(to bottom,  hsl(40, 68%, 98%) 0%,#f8f9fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}